@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    <head>
        <link rel = "stylesheet" href="css/StyleSheet.css"/>
    </head>
    <body>
        <div class="container"> 
            <h5>Quản lý sản phẩm</h5>
            <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col" style="width:10%">#</th>
                      <th scope="col" style="width:20%">Name</th>
                      <th scope="col" style="width:20%">Price</th>
                      <th scope="col" style="width:20%">Created</th>
                      <th scope="col" style="width:20%">Image</th>
                      <th scope="col" style="width:20%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td >Product 1</td>
                      <td>500,000 đ</td>
                      <td>25-12-2020</td>
                      <td>
                          <img src="https://topbag.vn/media/images/full/san-pham/balo/mikkor/the-pax/balo-1-quai-mikkor-the-pax-orange-1.jpg" alt="" width="25%" height="25%"></img>
                      </td>
                      <td> 
                          <button type="button" class="btn btn-success">View</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Product 2</td>
                      <td>700,000 đ</td>
                      <td>01-12-2020</td>
                      <td>
                          <img src="https://shopvnb.com//uploads/san_pham/balo-cau-long-victor-br-9010-cu-xanh-duong-chinh-hang-1.webp" alt="" width="25%" height="25%"></img>
                      </td>
                      <td> 
                          <button type="button" class="btn btn-success">View</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Product 3</td>
                      <td>1,000,000 đ</td>
                      <td>10-09-2020</td>
                      <td>
                          <img src="https://topbag.vn/media/images/full/san-pham/balo/mikkor/the-pax/balo-1-quai-mikkor-the-pax-orange-1.jpg" alt="" width="25%" height="25%"></img>
                      </td>
                      <td> 
                          <button type="button" class="btn btn-success">View</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
        </div>
    </body>       
