@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product...........";
}
<h1>Index cua Controler Product</h1>
<hr />
<h2>View bag: @ViewBag.product</h2>
<h2>Viewdata: @ViewData["ProductVD"]</h2>
<h2>Tempdata: @TempData["messageVD"]</h2>
